<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <connectionStrings>
    <add name="ACEntities" connectionString="metadata=res://*/ACModel.csdl|res://*/ACModel.ssdl|res://*/ACModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AmazingCharts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ACServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true "/>
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Services.PatientsService"
               behaviorConfiguration="ACServiceTypeBehaviors">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Services.IPatientsService"  />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/PatientsService" />  
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
